<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlInventoryLibrary.Properties.Settings.StrConn" connectionString="Data Source=ASUSTUF\SQLEXPRESS;Initial Catalog=InventorySystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>